<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Provision Service</title>
</head>
<body>
    <h1>Provision Service</h1>
    <div>
        <h3>Kueue Provision</h3>
        <ul>
            <li>Get - /kueue - Start kueue deployment</li>
        </ul>
    </div>

</body>
</html>
